# Ignore environment variables
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/

# Ignore database files in the instance folder, but keep the folder
instance/*.db

# Other sensitive files
